/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require reset
 *= require_tree .
 *= require_self 
*/

@font-face {
	font-family: ChunkFive;
	src: url(fonts/Chunkfive-webfont.ttf);
}
body {
	font-family:ChunkFive;
	font-size:20px;
}
a {
	color:#007090;
}
a:visited {
	color:#007090;
}